<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Search</title>
  <link rel="stylesheet" type="text/css" href="css/style.less.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">

</head>
<body ng-app="gitHubSearch" ng-controller="ghsController" class="git-hub-search">
  <div id="page-container">
    <div class="search">
      <p>Git Repo Search</p>
      <label>
        <input id="search" type="text" ng-model="search" ng-keyup="fetch()"/>
      </label>
    </div>
    <div id="results">
      <md-content>
        <section ng-repeat="ownerPerResult in ownersToFilter() | filter:filterOwners" ng-cloak>
          <md-subheader>{{ownerPerResult.owner}}</md-subheader>
          <md-list layout="column">
            <md-item ng-repeat="record in results | filter:{ owner : ownerPerResult.owner }:true">
              <md-item-content>
                <md-card>
                  <md-card-content>
                      <h3>Repo Name: <b><a href="{{record.url}}" target="_blank">{{record.name}}</a></b></h3>
                      <p ng-hide="record.description == null || record.description == ''">Description: {{record.description}}</p>
                      <p ng-hide="record.homepage == null || record.homepage == ''">Homepage: {{record.homepage}}</p>
                      <p>Language: {{record.language}}</p>
                      <p>Forks: {{record.forks}}</p>
                      <p>Open Issues: {{record.open_issues}}</p>
                  </md-card-content>
                </md-card>
              </md-item-content>
            </md-item>
          </md-list>
        </section> 
      </md-content> 
    </div>
  </div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"></script>
  <script src="https://rawgit.com/angular/bower-material/v0.6.0-rc3/angular-material.min.js"></script>

  <script src="app.js"></script>
</body>
</html>