.git-hub-search{
	#results{
		md-item{
			h3{
				padding:10px;
				background:#ccc;
				border-bottom:1px solid black;
			}

			&.open-cards{
				md-card{
					display:block;
				}
			}

			md-card{
				display:none;
				margin-left:10px;
				padding-bottom:10px;
			}
		}
	}
}